language: ruby
rvm:
- 2.3.1

git:
  depth: 1
branches:
  except:
  - gh-pages

install:
- bundle install --jobs=3 --retry=3

script:
- jekyll build

after_success:
- if [ $TRAVIS_BRANCH = 'master' ]; then sh build.sh; fi
