# Ruby CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-ruby/ for more details
#

version: 2
jobs:
  build:
    docker:
      - image: circleci/ruby:2.3.5-jessie

    working_directory: ~/repo

    steps:
      - checkout

      - run:
          name: checkout gh-pages branch and copy master contents to it
          command: |
            git clone --branch gh-pages --depth 1 \
              https://${GITHUB_TOKEN}@github.com/elboletaire/password-strength-meter.git \
              ../gh-pages && \
            cp -frv ./* ../gh-pages

      - run:
          name: install dependencies
          command: |
            cd ../gh-pages && \
            bundle install --jobs=4 --retry=3
          key: v1-dependencies-{{ checksum "Gemfile.lock" }}

      # build website
      - run:
          name: build website
          command: |
            cd ../gh-pages && \
            jekyll build

      - run:
          name: commit changes
          command: |
            cd ../gh-pages && \
            git config --global user.email "circleci@circleci.com" && \
            git config --global user.name "CircleCI" && \
            git add -f _site && \
            git commit -m "Update gh-pages [skip ci]" && \
            git push origin gh-pages
