---
layout: post-index
title: All category posts
description: "An archive of posts by category."
comments: false
---

<ul class="post-list">
  {% for post in site.posts %}
    {% for category in post.categories %}
      {% if category == page.category %}
        <li>
          <span class="post-meta">
            {{ post.date | date: "%b %-d, %Y" }}
          </span>
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
        </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>
